/* Responsive Breakpoints */
$smallerBreakpoint: 358px;
$mobileBreakpoint: 568px;
$tabletBreakpoint: 768px;
$desktopBreakpoint: 1024px;
$largeBreakpoint: 1400px;
$hdBreakpoint: 1900px;

/* Fonts */
$bodyFontSize: 16;
$mainFont: 'Heebo', sans-serif;

/* Colours */
$blue: #19FFE0;
$green: #CEFF1A;
$magenta: #FF1990;