/* Responsive Breakpoints */
/* Fonts */
/* Colours */
/* Transition Mixin */
/* Border-Radius Mixin */
/* Box-Shadow Mixin */
/* Text-Shadow Mixin */
/* Opacity Mixin */
/* Gradient Top Bottom Mixin */
/* Gradient Left Right Mixin */
/* Transform Mixin */
/* Rotate Mixin */
/* Scale Mixin */
/* Translate Mixin */
/* TranslateY Mixin */
/* TranslateX Mixin */
/* Transform Origin Mixin */
/* Animate Mixin */
/* Placeholder Mixin (Placeholder styling doesnt work in every browser) */
/* Flexbox Mixin */
/* Flexbox Mixin */
/* Appearance Mixin */
input::-moz-focus-inner {
  border: 0; }

object, embed, a, a:hover, a:active, a:focus {
  outline: 0; }

/* Reset styles */
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  background: transparent;
  vertical-align: baseline; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

nav ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  background: transparent;
  vertical-align: baseline;
  font-size: 100%; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-weight: bold;
  font-style: italic; }

del {
  text-decoration: line-through; }

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-spacing: 0;
  border-collapse: collapse; }

hr {
  display: block;
  margin: 1em 0;
  padding: 0;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc; }

input,
select {
  vertical-align: middle; }

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.browserUpgrade {
  background: #ff6a00;
  font-size: 1.2em;
  border-bottom: 1px solid #000000;
  color: #fff;
  position: fixed;
  z-index: 99999999;
  text-align: center;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  padding: 50px 20px; }
  .browserUpgrade p {
    max-width: 800px;
    margin: 0 auto; }
  .browserUpgrade .upgradeButton {
    color: #ff6a00;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px 20px;
    display: inline-block;
    text-decoration: none;
    font-weight: 700;
    margin-top: 20px; }
    .browserUpgrade .upgradeButton:hover {
      text-decoration: underline; }
  .browserUpgrade a:hover {
    text-decoration: none; }

img {
  max-width: 100%; }

.clear:before, .clear:after {
  content: '';
  display: table; }
.clear:after {
  clear: both; }

.video {
  position: relative;
  padding-bottom: 56.25%;
  height: 0; }
  .video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

/* Grid system 
========================== */
.container {
  position: relative;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1200px; }
  @media screen and (min-width: 568px) {
    .container {
      padding-left: 30px;
      padding-right: 30px; } }
  .container.fullWidth {
    max-width: 100%; }
  .container.noGutterInside .row {
    margin-left: 0;
    margin-right: 0; }
  .container.noGutterInside .column {
    padding-left: 0;
    padding-right: 0; }
  .container.noGutterOutside {
    padding-left: 0;
    padding-right: 0; }
  .container.noGutterAll {
    padding-left: 0;
    padding-right: 0; }
    .container.noGutterAll .row {
      margin-left: 0;
      margin-right: 0; }
    .container.noGutterAll .column {
      padding-left: 0;
      padding-right: 0; }

.row {
  margin-left: -8px;
  margin-right: -8px; }
  .row::after {
    content: '';
    clear: both;
    display: table; }
  @media screen and (min-width: 568px) {
    .row {
      margin-left: -15px;
      margin-right: -15px; } }

.column {
  padding-left: 8px;
  padding-right: 8px;
  display: inline-block;
  margin-right: -4px;
  vertical-align: top; }
  @media screen and (min-width: 568px) {
    .column {
      padding-left: 15px;
      padding-right: 15px; } }

.col-md-1, .col-ta-1, .col-de-1, .col-la-1 {
  width: 8.33333%; }

.col-md-2, .col-ta-2, .col-de-2, .col-la-2 {
  width: 16.66667%; }

.col-md-3, .col-ta-3, .col-de-3, .col-la-3 {
  width: 25.0%; }

.col-md-4, .col-ta-4, .col-de-4, .col-la-4 {
  width: 33.33333%; }

.col-md-5, .col-ta-5, .col-de-5, .col-la-5 {
  width: 41.66667%; }

.col-md-6, .col-ta-6, .col-de-6, .col-la-6 {
  width: 50.0%; }

.col-md-7, .col-ta-7, .col-de-7, .col-la-7 {
  width: 58.33333%; }

.col-md-8, .col-ta-8, .col-de-8, .col-la-8 {
  width: 66.66667%; }

.col-md-9, .col-ta-9, .col-de-9, .col-la-9 {
  width: 75.0%; }

.col-md-10, .col-ta-10, .col-de-10, .col-la-10 {
  width: 83.33333%; }

.col-md-11, .col-ta-11, .col-de-11, .col-la-11 {
  width: 91.66667%; }

.col-md-12, .col-ta-12, .col-de-12, .col-la-12 {
  width: 100.0%; }

/* Umbraco grid-specific class (col-md-*) */
.col-md-hide {
  display: none; }

@media screen and (max-width: 767px) {
  .col-md-1 {
    width: 100%;
    display: inline-block; }

  .col-md-2 {
    width: 100%;
    display: inline-block; }

  .col-md-3 {
    width: 100%;
    display: inline-block; }

  .col-md-4 {
    width: 100%;
    display: inline-block; }

  .col-md-5 {
    width: 100%;
    display: inline-block; }

  .col-md-6 {
    width: 100%;
    display: inline-block; }

  .col-md-7 {
    width: 100%;
    display: inline-block; }

  .col-md-8 {
    width: 100%;
    display: inline-block; }

  .col-md-9 {
    width: 100%;
    display: inline-block; }

  .col-md-10 {
    width: 100%;
    display: inline-block; }

  .col-md-11 {
    width: 100%;
    display: inline-block; }

  .col-md-12 {
    width: 100%;
    display: inline-block; } }
/* End Umbraco grid-specific class */
.col-mo-1 {
  width: 8.33333%;
  display: inline-block; }

.col-mo-hide {
  display: none; }

.col-mo-2 {
  width: 16.66667%;
  display: inline-block; }

.col-mo-hide {
  display: none; }

.col-mo-3 {
  width: 25.0%;
  display: inline-block; }

.col-mo-hide {
  display: none; }

.col-mo-4 {
  width: 33.33333%;
  display: inline-block; }

.col-mo-hide {
  display: none; }

.col-mo-5 {
  width: 41.66667%;
  display: inline-block; }

.col-mo-hide {
  display: none; }

.col-mo-6 {
  width: 50.0%;
  display: inline-block; }

.col-mo-hide {
  display: none; }

.col-mo-7 {
  width: 58.33333%;
  display: inline-block; }

.col-mo-hide {
  display: none; }

.col-mo-8 {
  width: 66.66667%;
  display: inline-block; }

.col-mo-hide {
  display: none; }

.col-mo-9 {
  width: 75.0%;
  display: inline-block; }

.col-mo-hide {
  display: none; }

.col-mo-10 {
  width: 83.33333%;
  display: inline-block; }

.col-mo-hide {
  display: none; }

.col-mo-11 {
  width: 91.66667%;
  display: inline-block; }

.col-mo-hide {
  display: none; }

.col-mo-12 {
  width: 100.0%;
  display: inline-block; }

.col-mo-hide {
  display: none; }

@media screen and (min-width: 568px) {
  .col-ta-1 {
    width: 8.33333%;
    display: inline-block; }

  .col-ta-2 {
    width: 16.66667%;
    display: inline-block; }

  .col-ta-3 {
    width: 25.0%;
    display: inline-block; }

  .col-ta-4 {
    width: 33.33333%;
    display: inline-block; }

  .col-ta-5 {
    width: 41.66667%;
    display: inline-block; }

  .col-ta-6 {
    width: 50.0%;
    display: inline-block; }

  .col-ta-7 {
    width: 58.33333%;
    display: inline-block; }

  .col-ta-8 {
    width: 66.66667%;
    display: inline-block; }

  .col-ta-9 {
    width: 75.0%;
    display: inline-block; }

  .col-ta-10 {
    width: 83.33333%;
    display: inline-block; }

  .col-ta-11 {
    width: 91.66667%;
    display: inline-block; }

  .col-ta-12 {
    width: 100.0%;
    display: inline-block; }

  .col-ta-hide {
    display: none; } }
@media screen and (min-width: 768px) {
  .col-de-1 {
    width: 8.33333%;
    display: inline-block; }

  .col-de-2 {
    width: 16.66667%;
    display: inline-block; }

  .col-de-3 {
    width: 25.0%;
    display: inline-block; }

  .col-de-4 {
    width: 33.33333%;
    display: inline-block; }

  .col-de-5 {
    width: 41.66667%;
    display: inline-block; }

  .col-de-6 {
    width: 50.0%;
    display: inline-block; }

  .col-de-7 {
    width: 58.33333%;
    display: inline-block; }

  .col-de-8 {
    width: 66.66667%;
    display: inline-block; }

  .col-de-9 {
    width: 75.0%;
    display: inline-block; }

  .col-de-10 {
    width: 83.33333%;
    display: inline-block; }

  .col-de-11 {
    width: 91.66667%;
    display: inline-block; }

  .col-de-12 {
    width: 100.0%;
    display: inline-block; }

  .col-de-hide {
    display: none; } }
@media screen and (min-width: 1024px) {
  .col-la-1 {
    width: 8.33333%;
    display: inline-block; }

  .col-la-2 {
    width: 16.66667%;
    display: inline-block; }

  .col-la-3 {
    width: 25.0%;
    display: inline-block; }

  .col-la-4 {
    width: 33.33333%;
    display: inline-block; }

  .col-la-5 {
    width: 41.66667%;
    display: inline-block; }

  .col-la-6 {
    width: 50.0%;
    display: inline-block; }

  .col-la-7 {
    width: 58.33333%;
    display: inline-block; }

  .col-la-8 {
    width: 66.66667%;
    display: inline-block; }

  .col-la-9 {
    width: 75.0%;
    display: inline-block; }

  .col-la-10 {
    width: 83.33333%;
    display: inline-block; }

  .col-la-11 {
    width: 91.66667%;
    display: inline-block; }

  .col-la-12 {
    width: 100.0%;
    display: inline-block; }

  .col-la-hide {
    display: none; } }
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: "Heebo", sans-serif;
  font-size: 16px; }

html {
  width: 100%;
  height: 100%; }

canvas {
  width: 100%;
  height: 100%; }

a {
  text-decoration: none;
  color: initial; }
  a:hover {
    text-decoration: none; }

a[href^="tel"] {
  color: inherit;
  text-decoration: none; }

.container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 90%;
  width: calc(100% - 30px);
  max-width: none;
  height: 90%;
  height: calc(100% - 30px);
  margin: auto;
  padding: 0 8px; }
  @media screen and (min-width: 768px) {
    .container {
      width: calc(100% - 60px);
      height: calc(100% - 60px);
      padding: 0 15px; } }
  @media screen and (min-width: 1024px) {
    .container {
      width: calc(100% - 120px);
      height: calc(100% - 120px); } }
  @media screen and (min-width: 1400px) {
    .container {
      width: calc(100% - 240px);
      height: calc(100% - 240px); } }

@-webkit-keyframes removeLoad {
  0% {
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  100% {
    -moz-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%); } }
@-moz-keyframes removeLoad {
  0% {
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  100% {
    -moz-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%); } }
@-ms-keyframes removeLoad {
  0% {
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  100% {
    -moz-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%); } }
@-o-keyframes removeLoad {
  0% {
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  100% {
    -moz-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%); } }
@keyframes removeLoad {
  0% {
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  100% {
    -moz-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%); } }
@-webkit-keyframes enterScreen {
  0% {
    -moz-transform: translateY(100%);
    -o-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    transform: translateY(100%); }
  100% {
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
@-moz-keyframes enterScreen {
  0% {
    -moz-transform: translateY(100%);
    -o-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    transform: translateY(100%); }
  100% {
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
@-ms-keyframes enterScreen {
  0% {
    -moz-transform: translateY(100%);
    -o-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    transform: translateY(100%); }
  100% {
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
@-o-keyframes enterScreen {
  0% {
    -moz-transform: translateY(100%);
    -o-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    transform: translateY(100%); }
  100% {
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
@keyframes enterScreen {
  0% {
    -moz-transform: translateY(100%);
    -o-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    transform: translateY(100%); }
  100% {
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
@-webkit-keyframes wipeIn {
  0% {
    width: 0%; }
  100% {
    width: 100%; } }
@-moz-keyframes wipeIn {
  0% {
    width: 0%; }
  100% {
    width: 100%; } }
@-ms-keyframes wipeIn {
  0% {
    width: 0%; }
  100% {
    width: 100%; } }
@-o-keyframes wipeIn {
  0% {
    width: 0%; }
  100% {
    width: 100%; } }
@keyframes wipeIn {
  0% {
    width: 0%; }
  100% {
    width: 100%; } }
body.loaded .loading {
  animation: removeLoad 1000ms forwards; }

.loading {
  background-color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: #fff;
  z-index: 999; }
  .loading .container.mobile {
    display: none; }
  @media screen and (max-width: 567px) {
    .loading .container.desktop {
      display: none; }
    .loading .container.mobile {
      display: block; }
      .loading .container.mobile .layer .clip .text {
        height: 85vw; }
        .loading .container.mobile .layer .clip .text span:after {
          height: 36%; }
        .loading .container.mobile .layer .clip .text span.bigText {
          font-size: 17vw;
          line-height: 11vw;
          margin-bottom: 6vw; }
        .loading .container.mobile .layer .clip .text span.smallText {
          font-size: 8vw;
          line-height: 5.3vw;
          margin-top: 3.5vw; }
          .loading .container.mobile .layer .clip .text span.smallText:after {
            height: 87%; } }
  .loading .layer .clip {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    overflow: hidden;
    animation: wipeIn 1000ms forwards;
    animation-delay: 1000ms; }
    .loading .layer .clip .text {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      height: 27vw;
      margin: auto 0;
      color: #19FFE0;
      font-weight: 900;
      letter-spacing: -0.35vw; }
      .loading .layer .clip .text span {
        display: inline-block;
        position: relative;
        white-space: nowrap; }
        .loading .layer .clip .text span.smallText {
          font-size: 3.3vw;
          line-height: 2.2vw;
          letter-spacing: 0;
          margin-top: 1.5vw; }
        .loading .layer .clip .text span.bigText {
          font-size: 12vw;
          line-height: 7.7vw;
          letter-spacing: -0.1vw;
          margin-bottom: 2.8vw; }
  .loading .layer.first .clip .text {
    color: #fff; }
    .loading .layer.first .clip .text span:after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 25%;
      background-color: #19FFE0; }
    .loading .layer.first .clip .text span.smallText:after {
      height: 70%; }
  .loading .layer.second .clip {
    animation-delay: 2500ms; }
  .loading .layer.third .clip {
    transition: width 1000ms;
    animation: none; }
    .loading .layer.third .clip .text {
      color: #000; }
  .loading .loadingStatus {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 30px;
    text-align: center; }
    .loading .loadingStatus span {
      font-weight: 900; }

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  pointer-events: none; }
  .overlay .errorNotice {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 80%;
    height: 200px;
    margin: auto; }
  .overlay .container .row.bottom {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
    z-index: 9; }
    .overlay .container .row.bottom .column {
      margin-bottom: 10px; }
      .overlay .container .row.bottom .column * {
        pointer-events: auto; }
      @media screen and (min-width: 768px) {
        .overlay .container .row.bottom .column {
          margin-bottom: 0; } }
      .overlay .container .row.bottom .column:last-of-type {
        margin-bottom: 0; }
      .overlay .container .row.bottom .column p {
        display: block;
        font-weight: 900;
        font-size: 14px;
        line-height: 19px;
        -webkit-text-size-adjust: 100%; }
        @media screen and (min-width: 1024px) {
          .overlay .container .row.bottom .column p {
            font-size: 16px;
            line-height: 20px; } }
        @media screen and (min-width: 1900px) {
          .overlay .container .row.bottom .column p {
            font-size: 24px;
            line-height: 30px; } }
        .overlay .container .row.bottom .column p a {
          position: relative;
          display: inline-block;
          cursor: pointer;
          color: #000; }
          .overlay .container .row.bottom .column p a:before {
            content: "";
            position: absolute;
            right: 0;
            bottom: 5px;
            left: 0;
            background-color: #19FFE0;
            height: 45%;
            width: 100%; }
          .overlay .container .row.bottom .column p a:after {
            content: "";
            position: absolute;
            right: 0;
            bottom: 5px;
            left: 0;
            background-color: #FF1990;
            height: 45%;
            width: 0;
            -webkit-transition: all 300ms;
            -moz-transition: all 300ms;
            -ms-transition: all 300ms;
            -o-transition: all 300ms;
            transition: all 300ms; }
          .overlay .container .row.bottom .column p a:hover:after {
            width: 100%; }
          @media screen and (min-width: 1900px) {
            .overlay .container .row.bottom .column p a:after, .overlay .container .row.bottom .column p a:before {
              bottom: 8px; } }
          .overlay .container .row.bottom .column p a span {
            position: relative;
            z-index: 2; }
        .overlay .container .row.bottom .column p a[href^="tel"] {
          color: #000; }
          .overlay .container .row.bottom .column p a[href^="tel"]:before, .overlay .container .row.bottom .column p a[href^="tel"]:after {
            display: none; }
  .overlay .container .row.top {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    margin: 0;
    z-index: 2; }
    @media screen and (min-width: 568px) {
      .overlay .container .row.top {
        top: 40px;
        left: 40px; } }
    @media screen and (min-width: 1900px) {
      .overlay .container .row.top {
        top: 60px;
        left: 60px; } }
    .overlay .container .row.top .column * {
      pointer-events: auto; }
    .overlay .container .row.top .column .textBlock {
      padding: 20px;
      width: 100%;
      background-color: #19FFE0;
      -webkit-transition: transform 1000ms;
      -moz-transition: transform 1000ms;
      -ms-transition: transform 1000ms;
      -o-transition: transform 1000ms;
      transition: transform 1000ms; }
      @media screen and (min-width: 1400px) {
        .overlay .container .row.top .column .textBlock {
          padding: 30px; } }
      @media screen and (min-width: 1900px) {
        .overlay .container .row.top .column .textBlock {
          padding: 40px; } }
      .overlay .container .row.top .column .textBlock h1 {
        font-weight: 900;
        font-size: 32px;
        line-height: 32px;
        margin-bottom: 10px; }
        @media screen and (min-width: 1400px) {
          .overlay .container .row.top .column .textBlock h1 {
            font-size: 45px;
            line-height: 45px;
            margin-bottom: 15px; } }
        @media screen and (min-width: 1900px) {
          .overlay .container .row.top .column .textBlock h1 {
            font-size: 60px;
            line-height: 60px;
            margin-bottom: 20px; } }
      .overlay .container .row.top .column .textBlock span {
        font-weight: 700;
        font-size: 16px;
        line-height: 24px; }
        @media screen and (min-width: 1400px) {
          .overlay .container .row.top .column .textBlock span {
            font-size: 24px;
            line-height: 32px; } }
        @media screen and (min-width: 1900px) {
          .overlay .container .row.top .column .textBlock span {
            font-size: 30px;
            line-height: 45px; } }
      .overlay .container .row.top .column .textBlock .close {
        cursor: pointer;
        position: absolute;
        top: -10px;
        left: -10px;
        width: 20px;
        height: 20px;
        -webkit-transition: transform 300ms;
        -moz-transition: transform 300ms;
        -ms-transition: transform 300ms;
        -o-transition: transform 300ms;
        transition: transform 300ms; }
        .overlay .container .row.top .column .textBlock .close:hover {
          -moz-transform: rotate(90deg);
          -o-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
          -webkit-transform: rotate(90deg);
          transform: rotate(90deg); }
        .overlay .container .row.top .column .textBlock .close svg {
          width: 100%;
          height: 100%; }
      .overlay .container .row.top .column .textBlock.hide {
        transform: translateY(-1000px); }
  .overlay .container .corner {
    position: absolute; }
    .overlay .container .corner.topLeft {
      top: 0;
      left: 0; }
      .overlay .container .corner.topLeft .vertical, .overlay .container .corner.topLeft .horizontal {
        top: 0;
        left: 0; }
    .overlay .container .corner.topRight {
      top: 0;
      right: 0; }
      .overlay .container .corner.topRight .vertical, .overlay .container .corner.topRight .horizontal {
        top: 0;
        right: 0; }
    .overlay .container .corner.bottomRight {
      bottom: 0;
      right: 0; }
      .overlay .container .corner.bottomRight .vertical, .overlay .container .corner.bottomRight .horizontal {
        bottom: 0;
        right: 0; }
    .overlay .container .corner.bottomLeft {
      bottom: 0;
      left: 0; }
      .overlay .container .corner.bottomLeft .vertical, .overlay .container .corner.bottomLeft .horizontal {
        bottom: 0;
        left: 0; }
    .overlay .container .corner .vertical {
      position: absolute;
      display: inline-block;
      width: 1px;
      height: 20px;
      background-color: #000; }
    .overlay .container .corner .horizontal {
      position: absolute;
      display: inline-block;
      width: 20px;
      height: 1px;
      background-color: #000; }
  .overlay .container .menu {
    pointer-events: auto;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #19FFE0;
    width: 0;
    height: 0;
    -webkit-transition: width 300ms, height 300ms;
    -moz-transition: width 300ms, height 300ms;
    -ms-transition: width 300ms, height 300ms;
    -o-transition: width 300ms, height 300ms;
    transition: width 300ms, height 300ms;
    z-index: 3; }
    .overlay .container .menu .menuButton {
      cursor: pointer;
      position: absolute;
      top: -20px;
      right: -20px;
      width: 40px;
      height: 40px;
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: transform 300ms;
      -moz-transition: transform 300ms;
      -ms-transition: transform 300ms;
      -o-transition: transform 300ms;
      transition: transform 300ms; }
      @media screen and (min-width: 768px) {
        .overlay .container .menu .menuButton {
          top: -25px;
          right: -25px;
          width: 50px;
          height: 50px; } }
      @media screen and (min-width: 1024px) {
        .overlay .container .menu .menuButton {
          top: -50px;
          right: -50px;
          width: 100px;
          height: 100px; } }
      .overlay .container .menu .menuButton .line {
        display: inline-block;
        background-color: #000;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto; }
        .overlay .container .menu .menuButton .line.one {
          width: 100%;
          height: 5px; }
          @media screen and (min-width: 768px) {
            .overlay .container .menu .menuButton .line.one {
              height: 8px; } }
          @media screen and (min-width: 1024px) {
            .overlay .container .menu .menuButton .line.one {
              height: 10px; } }
        .overlay .container .menu .menuButton .line.two {
          width: 5px;
          height: 100%; }
          @media screen and (min-width: 768px) {
            .overlay .container .menu .menuButton .line.two {
              width: 8px; } }
          @media screen and (min-width: 1024px) {
            .overlay .container .menu .menuButton .line.two {
              width: 10px; } }
      .overlay .container .menu .menuButton:hover {
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg); }
    .overlay .container .menu .menuContent {
      opacity: 0;
      filter: alpha(opacity=0);
      -webkit-transition: opacity 300ms;
      -moz-transition: opacity 300ms;
      -ms-transition: opacity 300ms;
      -o-transition: opacity 300ms;
      transition: opacity 300ms; }
      .overlay .container .menu .menuContent ul {
        list-style: none;
        margin: none;
        text-align: center;
        position: absolute;
        width: 100%;
        opacity: 0;
        filter: alpha(opacity=0);
        -webkit-transition: opacity 300ms;
        -moz-transition: opacity 300ms;
        -ms-transition: opacity 300ms;
        -o-transition: opacity 300ms;
        transition: opacity 300ms;
        -moz-transform: translate(0, -50%);
        -o-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
        top: 30%; }
        @media screen and (min-width: 768px) {
          .overlay .container .menu .menuContent ul {
            top: 50%; } }
        .overlay .container .menu .menuContent ul li {
          display: inline-block;
          margin: 0 15px;
          width: 40px; }
          @media screen and (min-width: 358px) {
            .overlay .container .menu .menuContent ul li {
              margin: 0 21px;
              width: 60px; } }
          @media screen and (min-width: 768px) {
            .overlay .container .menu .menuContent ul li {
              margin: 0 31px;
              width: 160px; } }
          @media screen and (min-width: 1024px) {
            .overlay .container .menu .menuContent ul li {
              margin: 0 41px;
              width: 180px; } }
          .overlay .container .menu .menuContent ul li a {
            display: block;
            position: relative;
            padding-bottom: 25px; }
            @media screen and (min-width: 768px) {
              .overlay .container .menu .menuContent ul li a {
                padding-bottom: 45px; } }
            .overlay .container .menu .menuContent ul li a img {
              max-width: 128px;
              width: 100%; }
            .overlay .container .menu .menuContent ul li a:after {
              background: #ffffff;
              bottom: 0;
              content: '';
              display: block;
              height: 0;
              margin-top: 15px;
              position: absolute;
              width: 100%;
              -webkit-transition: height 300ms;
              -moz-transition: height 300ms;
              -ms-transition: height 300ms;
              -o-transition: height 300ms;
              transition: height 300ms; }
            .overlay .container .menu .menuContent ul li a.active:after {
              height: 10px; }
              @media screen and (min-width: 768px) {
                .overlay .container .menu .menuContent ul li a.active:after {
                  height: 30px; } }
            .overlay .container .menu .menuContent ul li a:hover:after {
              height: 10px; }
              @media screen and (min-width: 768px) {
                .overlay .container .menu .menuContent ul li a:hover:after {
                  height: 30px; } }
    .overlay .container .menu.open {
      width: 100%;
      height: 100%; }
      .overlay .container .menu.open .menuContent {
        opacity: 1;
        filter: alpha(opacity=100); }
        .overlay .container .menu.open .menuContent ul {
          opacity: 1;
          filter: alpha(opacity=100); }
      .overlay .container .menu.open .menuButton {
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg); }

.experimentHolder.experimentOne {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%; }
.experimentHolder.experimentTwo {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%; }
  .experimentHolder.experimentTwo .playButton {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 52px;
    margin: auto;
    text-align: center; }
    .experimentHolder.experimentTwo .playButton .inner {
      position: relative;
      display: inline-block;
      padding: 10px 15px;
      cursor: pointer;
      height: 100%;
      text-align: left;
      background-color: #19FFE0;
      -webkit-transition: color 300ms;
      -moz-transition: color 300ms;
      -ms-transition: color 300ms;
      -o-transition: color 300ms;
      transition: color 300ms; }
      .experimentHolder.experimentTwo .playButton .inner:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 0;
        height: 100%;
        background-color: #FF1990;
        -webkit-transition: width 300ms;
        -moz-transition: width 300ms;
        -ms-transition: width 300ms;
        -o-transition: width 300ms;
        transition: width 300ms; }
      .experimentHolder.experimentTwo .playButton .inner:hover {
        color: #fff; }
        .experimentHolder.experimentTwo .playButton .inner:hover:after {
          width: 100%; }
        .experimentHolder.experimentTwo .playButton .inner:hover svg {
          fill: #fff; }
      .experimentHolder.experimentTwo .playButton .inner svg {
        position: relative;
        z-index: 2;
        display: inline-block;
        vertical-align: middle;
        width: 18px;
        height: 18px;
        fill: #000;
        margin-right: 3px;
        -webkit-transition: fill 300ms;
        -moz-transition: fill 300ms;
        -ms-transition: fill 300ms;
        -o-transition: fill 300ms;
        transition: fill 300ms; }
      .experimentHolder.experimentTwo .playButton .inner span {
        position: relative;
        z-index: 2;
        display: inline-block;
        vertical-align: middle;
        font-weight: 900;
        font-size: 32px;
        line-height: 32px; }
  .experimentHolder.experimentTwo .headPhone {
    background: #19FFE0;
    bottom: auto;
    padding: 7px 8px 5px 8px;
    position: absolute;
    left: 30px;
    right: auto;
    top: 30px; }
    @media screen and (min-width: 768px) {
      .experimentHolder.experimentTwo .headPhone {
        bottom: 130px;
        right: 60px;
        padding: 17px 18px 15px 18px;
        top: auto;
        left: auto; } }
    @media screen and (min-width: 1024px) {
      .experimentHolder.experimentTwo .headPhone {
        right: 60px;
        bottom: 170px;
        top: auto;
        left: auto; } }
    @media screen and (min-width: 1400px) {
      .experimentHolder.experimentTwo .headPhone {
        right: 120px;
        bottom: 230px;
        top: auto;
        left: auto; } }
    .experimentHolder.experimentTwo .headPhone svg {
      display: inline-block;
      vertical-align: middle; }
    .experimentHolder.experimentTwo .headPhone span {
      display: inline-block;
      margin: 0 0 0 13px; }
      @media screen and (max-width: 767px) {
        .experimentHolder.experimentTwo .headPhone span {
          font-size: 14px;
          margin: 0 0 0 7px; } }


/*# sourceMappingURL=experiments.css.map */
